@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

body {
  background: #fafafa;
  font-family: var(--font-manrope);
  color: #111111;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;

  background: radial-gradient(
    circle at top,
    rgba(16, 185, 129, 0.08),
    transparent 60%
  );

  pointer-events: none;
  z-index: -1;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-manrope);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}
